@model webapp.mvc.Models.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>
        @Html.DisplayFor(model => model.CategoryName) <div id="itemCount"></div>
    </h4>
    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
        <div>
            @ViewBag.ErrorMessage
        </div>
    }
</div>

<script>
    onDocumentLoaded(() => {
        let categoryId = @Json.Serialize(Model!.ID);
        getCategoryItemCount(categoryId).then(res => {
            document.getElementById("itemCount").innerHTML = `(${res.count != undefined ? res.count : 0} items)`
        })
    });
</script>